%li[status]
  %p= status.content
  %span.username Posted by #{status.user.username}
  %span= link_to status.created_at.to_s(:short), status
  - if status.user == current_user
    = link_to 'Delete', status, :confirm => 'Are you sure?', :method => :delete
    
  - unless status.comments.count == 0
    %ul
      - status.comments.each do |comment|
        %li[comment]
          %p= comment.content
          %span.username Posted by #{comment.user.username}
          %span= link_to comment.created_at.to_s(:short), status
          - if comment.user == current_user
            = link_to 'Delete', [status, comment], :confirm => 'Are you sure?', :method => :delete
            
  - comment = status.comments.build
  = semantic_form_for [status, comment], :html => {:id => dom_id(status, :new_comment)} do |f|
    = f.inputs do
      = f.input :content
    = f.buttons do
      = f.commit_button