%li[status]
  .content
    %p= status.content
    %span.username Posted by #{status.user.username}
    %span
      = link_to timeago(status.created_at, :format => :long), status
      - if status.user == current_user
        |
        = link_to 'Delete', status, :confirm => 'Are you sure?', :method => :delete
        
  - unless status.comments.blank?
    %ul
      - status.comments.each do |comment|
        %li[comment]
          .content
            %p= comment.content
            %span.username Posted by #{comment.user.username}
            %span
              = link_to timeago(comment.created_at, :format => :long), status
              
              / = debug comment.user.class
              
              / = debug current_user.class
              
              - if comment.user == current_user
                |
                = link_to 'Delete', [status, comment], :confirm => 'Are you sure?', :method => :delete
                
  - if user_signed_in?
    - comment = status.comments.build
    = semantic_form_for [status, comment], :html => {:id => dom_id(status, :new_comment), :class => 'new-comment'} do |f|
      = f.inputs do
        = f.input :content, :label => false
      = f.buttons do
        = f.commit_button