- if user_signed_in?
  = semantic_form_for @status do |f|
    = f.inputs do
      = f.input :content, :label => false
    = f.buttons do
      = f.commit_button
%ul#wall
  = render :partial => "status", :collection => @statuses