- unless user_signed_in?
  .container
    %p.alert
      Hey, looks like you're new here, you have to
      = link_to "sign up", new_user_registration_path
      or
      = link_to "sign in", new_user_session_path
      to participate!
- if @walls.blank?
  %p
    There are no walls.
    - if user_signed_in?
      Why don't you
      = link_to 'start one', new_wall_path
- else
  %ul#walls
    - @walls.each do |wall|
      %li= link_to wall.title, wall
  - if user_signed_in?
    %p= link_to 'Start a new wall', new_wall_path, :class => 'new'