- @page_title = "Make a new wall"
%h2= @page_title

= semantic_form_for @wall do |f|
  = f.inputs do
    = f.input :title
    = f.input :slug
    = f.input :description
  = f.buttons do
    = f.commit_button