!!! 5
%html
%head
  %title Walls
  = stylesheet_link_tag :all
  = javascript_include_tag 'jquery', 'rails', 'jquery.timeago', 'application'
  = csrf_meta_tag
  / fuckin' magnets how do they work..
%body
  = render :partial => "layouts/header"
  = flashes :notice, :alert
  .container= yield